<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/editstyles.css">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <script src="https://kit.fontawesome.com/973db4e21f.js" crossorigin="anonymous"></script>
    <title>Editting in process</title>
  </head>
  <body>
    <nav class="left-nav">
      <ul class ="ul-nav">
        <li class = "li-nav">
          <a class="a-nav" href="/">
            <i class="fa-solid fa-angles-right"></i>
          </a>
        </li>
        <li class = "li-nav">
          <a class="a-nav" href="/new">
            <span class="lnr lnr-rocket"></span><div class ='text'>New Post</div>
          </a>
        </li>
        <li class = "li-nav">
          <a class="a-nav" href="https://github.com/letan1123" target="_blank">
            <span class="lnr lnr-sun"></span><div class ='text'>Github</div>
          </a>
        </li>
        <li class = "li-nav">
          <a class="a-nav" href="https://www.linkedin.com/in/tan-le-164679233/" target="_blank">
            <span class="lnr lnr-star"></span><div class ='text'>LinkedIn</div>
          </a>
        </li>
        <li class = "li-nav">
          <a class="a-nav" href="/map">
            <i class="fa-brands fa-angellist"></i><div class ='text'>Bucket List</div>
          </a>
        </li>
      </ul>
    </nav>
    <main>
      <form class="edit" action="/<%=post._id%>?_method=PUT" method="post">
        <div class="title">
          <textarea name="title" placeholder="title: <%=post.title%>" rows="1" cols="80"></textarea><br>
        </div>
        <div class="edit-text">
          <textarea name="text" placeholder="<%=post.text%>" rows="8" cols="80"></textarea><br>
        </div>
        <div class="image">
          Picture goes here:<input type="url" name="media.image" value="<%=post.media.image%>">
        </div>
        <div class="video">
          Video goes here:<input type="url" name="media.video" value="<%=post.media.video%>">
        </div>
        <input type="submit" name="" value="Submit changes">
      </form>
    </main>
  </body>
</html>
