<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Index</h1>
    <h2><a class="new" href="/new">Post something</a></h2>
    <div class="container">
      <% for (let i = 0; i < posts.length; i ++) { %>
        Title: <%=posts[i].title%><br>
        Text: <%=posts[i].text%> <br>
        Image: <img src="<%=posts[i].image%>" alt=""><br>
        Video: <iframe src="<%=posts[i].video%>" width="350" height="350"></iframe><br>
        <button class = "index-button" type="button" name="button"><a class="index-info-text" href="/<%=posts[i].id%>">Info</a></button>
        <button type="button" name="button"><a href="/<%=posts[i]._id%>/edit">Edit Post</a></button>
                <form  action="/<%=posts[i].id%>?_method=DELETE" method="POST">
                  <input class="delete" type="submit" value="Delete">
                </form>
      <% } %>
    </div>
  </body>
</html>
