<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="showstyles.css">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <script src="https://kit.fontawesome.com/973db4e21f.js" crossorigin="anonymous"></script>
    <title><%=social.title%></title>
  </head>
  <body>
    <nav class="left-nav">
      <ul class ="ul-nav">
        <li class = "li-nav">
          <a class="a-nav" href="/">
            <i class="fa-solid fa-angles-right"></i>
          </a>
        </li>
        <li class = "li-nav">
          <a class="a-nav" href="/new">
            <span class="lnr lnr-rocket"></span><div class ='text'>New Post</div>
          </a>
        </li>
        <li class = "li-nav">
          <a class="a-nav" href="https://github.com/letan1123" target="_blank">
            <span class="lnr lnr-sun"></span><div class ='text'>Github</div>
          </a>
        </li>
        <li class = "li-nav">
          <a class="a-nav" href="https://www.linkedin.com/in/tan-le-164679233/" target="_blank">
            <span class="lnr lnr-star"></span><div class ='text'>LinkedIn</div>
          </a>
        </li>
        <li class = "li-nav">
          <a class="a-nav" href="/map">
            <i class="fa-brands fa-angellist"></i><div class ='text'>Bucket List</div>
          </a>
        </li>
      </ul>
    </nav>
    <main>
      <div class="show-text-container">
        <div class="show-title">
          <h1><%=social.title%></h1>
        </div>
        <div class="show-text">
          <h2><%=social.text%></h2>
        </div>
      </div>
      <div class="media-container">
        <% if(social.media.image == '' && social.media.video == '') { %>
          <p>Go back to homepage and edit to add picture</p>
          <p>Go back to homepage and edit to add video</p>
        <%} else if(social.media.video == '') {%>
          <img src="<%=post.media.image%>" alt=""><br>
          <p>Go back to homepage and edit to add video</p>
        <%} else if (social.media.image == '') {%>
          <p>Go back to homepage and edit to add picture</p>
          <iframe src="<%=social.media.video%>" width="350"   height="350"></iframe><br>
        <%} else {%>
          <img src="<%=social.media.image%>" alt=""><br>
          <iframe src="<%=social.media.video%>" width="350"   height="350"></iframe><br>
        <%}%>
      </div>
    </main>
  </body>
</html>
